# Node
node_modules
.next
out
.npm-cache
public/fonts
.tmp-lxgw*

# Env
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Prisma
prisma/*.db
prisma/*.db-journal
prisma/migrations

